<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IntegralEyesight.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3AC9EAF22B003D8B00CDC88F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AC9EB032B003D8C00CDC88F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AC9EB0D2B003D8C00CDC88F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
